definitions:
  request.ChangePasswordReq:
    properties:
      confirmPassword:
        description: 新密码
        type: string
      password:
        description: 旧密码
        type: string
    type: object
  request.ChangeUserInfo:
    properties:
      Mobile:
        description: 用户手机号
        type: string
      avatar:
        description: 用户头像
        type: string
      city:
        type: string
      country:
        type: string
      district:
        type: string
      enable:
        description: 用户是否被冻结 1正常 2冻结
        type: integer
      id:
        type: integer
      name:
        description: 真实姓名
        type: string
      nickName:
        description: 用户昵称
        type: string
      points:
        type: number
      province:
        type: string
      sex:
        type: string
      uuid:
        description: 用户UUID
        type: string
    type: object
  request.InsertAdvert:
    properties:
      action:
        description: 链接值
        type: string
      name:
        description: 广告名称
        type: string
      photo:
        description: 图片地址
        type: string
      position:
        description: 广告位置 1首页轮播;
        type: integer
      sort:
        description: 排序
        type: integer
      status:
        description: 状态
        type: string
      type:
        description: 广告类型 product 产品 news 资讯 index 首页
        type: string
    type: object
  request.InsertCateReq:
    properties:
      content:
        type: string
      icon:
        type: string
      name:
        type: string
      pid:
        type: integer
      remarks:
        type: string
      sort:
        type: integer
      status:
        type: string
      thumbnail:
        type: string
    type: object
  request.Login:
    properties:
      captcha:
        description: 验证码
        type: string
      captchaId:
        description: 验证码ID
        type: string
      password:
        description: 密码
        type: string
      userName:
        description: 用户名-手机号码
        type: string
    type: object
  request.PageInfo:
    properties:
      keyword:
        description: 关键字
        type: string
      page:
        description: 页码
        type: integer
      pageSize:
        description: 每页大小
        type: integer
    type: object
  request.UpdateAdvert:
    properties:
      action:
        description: 链接值
        type: string
      id:
        description: id
        type: string
      name:
        description: 广告名称
        type: string
      photo:
        description: 图片地址
        type: string
      position:
        description: 广告位置 1首页轮播;
        type: integer
      sort:
        description: 排序
        type: integer
      status:
        description: 状态
        type: string
      type:
        description: 广告类型 product 产品 news 资讯 index 首页
        type: string
    type: object
  request.UpdateCateReq:
    properties:
      content:
        type: string
      icon:
        type: string
      id:
        description: id
        type: integer
      name:
        type: string
      pid:
        type: integer
      remarks:
        type: string
      sort:
        type: integer
      status:
        type: string
      thumbnail:
        type: string
    type: object
  request.WxLogin:
    properties:
      appid:
        description: 微信应用id
        type: string
      code:
        description: 微信用户登录凭证（有效期五分钟）
        type: string
      encryptedData:
        description: 微信用户信息的加密数据
        type: string
      iv:
        description: 加密算法的初始向量
        type: string
    type: object
  response.LoginResponse:
    properties:
      expiresAt:
        description: 凭证过期时间
        type: integer
      openId:
        description: openid
        type: string
      token:
        description: 登录凭证
        type: string
      user:
        $ref: '#/definitions/system.SysUser'
        description: 用户信息
    type: object
  response.PageResult:
    properties:
      list: {}
      page:
        type: integer
      pageSize:
        type: integer
      total:
        type: integer
    type: object
  response.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
  response.SysCaptchaResponse:
    properties:
      captchaId:
        type: string
      captchaLength:
        type: integer
      picPath:
        type: string
    type: object
  response.WxLoginResponse:
    properties:
      expiresAt:
        description: 凭证过期时间
        type: integer
      openId:
        description: openid
        type: string
      token:
        description: 登录凭证
        type: string
      user:
        $ref: '#/definitions/system.SysUser'
        description: 用户信息
    type: object
  system.SysAdvert:
    properties:
      action:
        type: string
      createdTime:
        description: 创建时间
        type: string
      deletedTime:
        description: 删除时间
        type: string
      id:
        description: 主键ID
        type: integer
      name:
        type: string
      photo:
        type: string
      position:
        type: integer
      sort:
        type: integer
      status:
        type: string
      type:
        type: string
      updatedTime:
        description: 更新时间
        type: string
    type: object
  system.SysCategory:
    properties:
      content:
        type: string
      createdTime:
        description: 创建时间
        type: string
      deletedTime:
        description: 删除时间
        type: string
      icon:
        type: string
      id:
        description: 主键ID
        type: integer
      name:
        type: string
      pid:
        type: integer
      remarks:
        type: string
      sort:
        type: integer
      status:
        type: string
      thumbnail:
        type: string
      updatedTime:
        description: 更新时间
        type: string
    type: object
  system.SysUser:
    properties:
      Mobile:
        description: 用户手机号
        type: string
      avatar:
        description: 用户头像
        type: string
      city:
        type: string
      country:
        type: string
      createdTime:
        description: 创建时间
        type: string
      deletedTime:
        description: 删除时间
        type: string
      district:
        type: string
      enable:
        description: 用户是否被冻结 1正常 2冻结
        type: integer
      id:
        description: 主键ID
        type: integer
      name:
        description: 真实姓名
        type: string
      nickName:
        description: 用户昵称
        type: string
      openid:
        type: string
      points:
        type: number
      province:
        type: string
      sex:
        type: string
      updatedTime:
        description: 更新时间
        type: string
      userName:
        description: 用户账号-用户登录名
        type: string
      uuid:
        description: 用户UUID
        type: string
    type: object
info:
  contact: {}
  description: This is a sample Server pets
  title: Swagger Example API
  version: 0.0.1
paths:
  /base/advertList:
    post:
      consumes:
      - application/json
      parameters:
      - description: 页码, 每页大小
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.PageInfo'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/response.PageResult'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/system.SysAdvert'
                        type: array
                    type: object
              type: object
      security:
      - ApiKeyAuth: []
      summary: 获取轮播图
      tags:
      - Base
  /base/captcha:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: 生成验证码,返回包括随机数id,base64,验证码长度
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/response.SysCaptchaResponse'
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 生成验证码
      tags:
      - Base
  /base/categoryList:
    post:
      consumes:
      - application/json
      parameters:
      - description: 页码, 每页大小
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.PageInfo'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/response.PageResult'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/system.SysCategory'
                        type: array
                    type: object
              type: object
      security:
      - ApiKeyAuth: []
      summary: 获取分类列表数据
      tags:
      - Base
  /base/deleteAdvert/:id:
    delete:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                ' msg':
                  type: string
                data:
                  type: boolean
              type: object
      security:
      - ApiKeyAuth: []
      summary: 删除轮播图
      tags:
      - Base
  /base/deleteCategory/:id:
    delete:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                ' msg':
                  type: string
                data:
                  type: boolean
              type: object
      security:
      - ApiKeyAuth: []
      summary: 删除类目
      tags:
      - Base
  /base/insertAdvert:
    post:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.InsertAdvert'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 添加轮播图
      tags:
      - Base
  /base/insertCategory:
    post:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.InsertCateReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 添加类目
      tags:
      - Base
  /base/login:
    post:
      parameters:
      - description: 用户名, 密码, 验证码
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.Login'
      produces:
      - application/json
      responses:
        "200":
          description: 返回包括用户信息,token,过期时间
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/response.LoginResponse'
                msg:
                  type: string
              type: object
      summary: 用户登录
      tags:
      - Base
  /base/updateAdvert:
    put:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.UpdateAdvert'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                ' msg':
                  type: string
                data:
                  type: boolean
              type: object
      security:
      - ApiKeyAuth: []
      summary: 更新轮播图
      tags:
      - Base
  /base/updateCategory:
    put:
      consumes:
      - application/json
      parameters:
      - description: ' '
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.UpdateCateReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                ' msg':
                  type: string
                data:
                  type: boolean
              type: object
      security:
      - ApiKeyAuth: []
      summary: 更新类目
      tags:
      - Base
  /base/wxLogin:
    post:
      parameters:
      - description: 用户名, 密码, 验证码
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.WxLogin'
      produces:
      - application/json
      responses:
        "200":
          description: 返回包括用户信息,token,过期时间
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/response.WxLoginResponse'
                msg:
                  type: string
              type: object
      summary: 授权登录
      tags:
      - Base
  /jwt/jsonInBlacklist:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: jwt加入黑名单
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: jwt加入黑名单
      tags:
      - Jwt
  /user/changePassword:
    post:
      parameters:
      - description: 用户名, 原密码, 新密码
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.ChangePasswordReq'
      produces:
      - application/json
      responses:
        "200":
          description: 用户修改密码
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  type: boolean
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 用户修改密码
      tags:
      - SysUser
  /user/getUserInfo:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: 获取用户信息
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/system.SysUser'
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 获取用户信息
      tags:
      - SysUser
  /user/logout:
    post:
      produces:
      - application/json
      responses:
        "200":
          description: 返回包括用户信息,token,过期时间
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  type: boolean
                msg:
                  type: string
              type: object
      summary: 退出登录
      tags:
      - SysUser
  /user/setUserInfo:
    put:
      consumes:
      - application/json
      parameters:
      - description: ID, 用户名, 昵称, 头像链接
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.ChangeUserInfo'
      produces:
      - application/json
      responses:
        "200":
          description: 设置用户信息
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  type: boolean
                msg:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      summary: 设置用户信息
      tags:
      - SysUser
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: x-token
    type: apiKey
swagger: "2.0"
